nav > ul > li {
    display: inline;
    margin-right: 15px;
}

nav li > a {
    text-decoration: none;
}

footer{
    text-align: center;
    margin-top: 30px;
}

#sep {
    background-color:rgb(170, 240, 216);
    padding-left:10%;
    padding-right: 10%;
    margin: 5px;
    }
